/*****************Custom properties****************/
:root {
    --first-color: #3CCCB2;
    --second-color-a: #BA7070;
    --second-color-b: #A77E7E;
    --second-color-c: #E7BCBC;
    --third-color-a: #B3B3B3;
    --third-color-b: #A71FBD;
    --font: "Imbue", sans-serif;
    --font-size-h1: 3.5rem;
    --font-size-h2: 2.5rem;
    --font-size-p: 2rem;
    --font-style-p: 'Times New Roman', Times, serif;
    --font-size-a: 2rem;
    --text-color-principal: black;
    --link-color-a: rgb(39, 129, 189);
    --max-width: 100%;
    --topBox-height: 10rem;
}

/*****************Reset****************/
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color-principal);
    background-color: var(--second-color-a);
    display: flex;
    flex-direction: column;
}

a {
    color: var(--link-color-a);
    transition: all 0.8s ease-out;
}

a:hover {
    opacity: 0.4;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: var(--font-size-h1);
    text-align: center;
}

h2 {
    margin: 0;
    font-size: var(--font-size-h2);
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

p {
    margin: 0;
    font-size: var(--font-size-p);
    line-height: 1.6;
    font-family: var(--font-style-p);
}

textarea {
    display: block;
    text-align: center;
    margin: auto;
    background-color: var(--third-color-a);
}

input {
    display: block;
    text-align: center;
    margin: auto;
    background-color: var(--third-color-a);
}

/*****************Components****************/
/*****************Menu****************/
.hamburguesaMenu {
    border: 0;
    cursor: pointer;
}

/*****************Utilities****************/
.topBox {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: var(--topBox-height);
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.topBox-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fondoBuscador {
    background-color: var(--third-color-a);
}

/* h1 {
    margin-top: var(--topBox-height);
    /* Ajusta esta línea con la altura correcta de .topBox */


.noticiasRápidas {
    background-color: var(--first-color);
    width: 30%;
    overflow-y: auto;
    position: fixed;
    top: var(--topBox-height);
    bottom: alturaFooter;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-a);
    text-align: center;
}

.noticiasRápidas a:hover {
    color: var(--third-color-b);
    background-color: var(--second-color-a);
}

/*****************Site Styles****************/
/* 


@media screen and(min-width:1024px) {
    .topBox{
        position: fixed;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--topBox-height)-0.5rem);
        position: static;
    }
    /* .hamburguesaMenu{
        display: none;
    } */

/* @media screen and(min-width:768px) {} */

/***************** Responsividad para Móvil (320px) ****************/
@media screen and (max-width: 320px) {
    .topBox {
        flex-direction: row;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        top: 0;
        z-index: 999;
        width: 100%;
        height: var(--topBox-height);
        background-color: var(--first-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .topBox-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguesaMenu {
        display: block;
    }

    #logoUsuario,
    #logoPrincipal {
        display: none;
    }

    .noticiasRápidas {
        width: 100%;
        top: var(--topBox-height);
    }

    img {
        width: 100%;
        height: auto;
    }
}

/***************** Responsividad para Tableta (768px) ****************/
@media screen and (min-width: 321px) and (max-width: 768px) {
    .topBox {
        flex-direction: row;
        position: static;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        top: 0;
        z-index: 999;
        width: 100%;
        height: var(--topBox-height);
        background-color: var(--first-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .noticiasRápidas {
        width: 50%;
        position: static;
    }

    .hamburguesaMenu {
        display: none;
    }

}

/***************** Responsividad para Escritorio (1280px) ****************/
@media screen and (min-width: 769px) {
    .topBox {
        flex-direction: row;
        position: static;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width);
        top: 0;
        z-index: 999;
        width: 100%;
        height: var(--topBox-height);
        background-color: var(--first-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .hamburguesaMenu {
        display: none;
    }

    .noticiasRápidas {
        width: 30%;
        position: static;
    }

}